{{ ansible_managed | comment }}

[Unit]
Description=promtail
After=network-online.target
StartLimitInterval=0
StartLimitIntervalSec=0

[Service]
Type=simple
User={{ promtail_system_user }}
Group={{ promtail_system_group }}
ExecStart=/usr/local/bin/promtail \
  -config.file={{ promtail_config_dir }}/promtail.yml
SyslogIdentifier=promtail
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
